---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="仅提供网络公开资源链接，不存储任何受版权保护文件"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2025')}
	heroImage="/blog-placeholder-about.jpg"
>

	<ul>
	<p>
		<b>这里是一个面向技术爱好者与学习者的知识导航站。</b><br>

	我们不生产书籍和工具，只为你整理优质的学习资源、IT技术资料和开源工具，帮助更多人用技术创造更好的未来。<br>
	
	<b>Z-Library 入口与镜像整理 </b> <br>
	定期更新可用的Z-Library镜像与访问方式，让读者能更方便地找到书籍。<br>
	
	<b>精选 IT 技术资源推荐  </b> <br>
	汇总编程教程、开源工具与学习路线图，节省你筛选的时间。<br>
	
	<b>技术笔记与思考分享</b> <br>
	记录我们在技术学习与实践中的经验，分享给同样热爱技术的人。<br>
	
	知识应该更自由：学习资源应该让更多人更容易获取。<br>
	
	技术成就个人：掌握技术是实现自我价值与自由的关键。<br>
	
	尊重版权与创作者：本站不存储或传播任何受版权保护的文件，仅做公开网络资源的导航。


	</p>
	<h1>你的支持，就是让本站继续折腾下去的动力</h1>
	<p>
		本站接受的捐赠是网络“打赏”，非商业技术支持或其它任何商业行为。

		如果你觉得本站对你有帮助，可以通过小额捐赠支持服务器与维护成本，让更多人持续受益。
		
		见善随喜。请根据自身情况酌情捐赠，原则上不建议捐赠额度过大。
		
		👉感谢每一份支持，这会让本站更新得更久一些。
	</p>

	</ul>
	
</Layout>
