---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>阅读与资源导航</h3><br>
			<h2>快速访问 Z-Library与IT精选技术资源</h2> <br> 
			<p>
				<b>本网站仅为学习交流提供导航，不存储或传播任何受版权保护的文件。所有资源来自公开网络，请遵守您所在国家/地区的法律法规。</b>
			</p>

			<a href="https://newbooks.cc" target="_blank">  <br> 
			<button>点击开始探索</button></a>		<br> 

			<ul>
				<li>资源来源-本站所有链接与工具均来自公开网络或开源项目，我们只做整理与导航，不储存、不分发任何受版权保护的文件。</li>
				<li>免责声明-本站不承担因使用本站链接所带来的任何风险与后果，使用前请遵守你所在国家或地区的法律法规。</li>
				
			</ul>

			<h3>持续更新</h3>
			<p>
				我们会定期检查与更新Z-Library镜像及IT资源，确保链接可用、内容可靠。 
				<br>如果发现失效链接， <a href="mailto:jack@newbooks.work.gd/">欢迎通过邮箱反馈
				</a> 
			</p>
			

		</main>
		<Footer />
	</body>
</html>
